body, html{
    margin: 0%;
    padding-top: 0px;
}
nav {
    min-height: 400px;
    background-image:url("../img/banner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-right: 15%;
    padding-left: 15%;
}
a {
    float: right;
    padding-top: 4%;
    color: lightgrey;
    font-family: sans-serif ;
    text-align: center;
    font-size: 200%;
    text-decoration: none;
    margin-right: 2%;
    width: 15%;
  }
a:hover{
    color:white;
    border-bottom: solid 1px white;
  }
#nach_links_kollege{
    float: left;
    width: 10%;
    height: auto;
}
#nach_links_kollege:hover{
    border: 0px;
}
article {
    padding-top: 50px;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 50px;
    background-color: bisque;
    min-height: 22rem;
 }
article h2{
    padding-left: 5%;
    font-family: sans-serif;
    font-size: 230%;
 }
article img{
    width: 25%; 
    padding-top: 50px; 
 }
article a{
    text-align: left;
    font-size: 100%;
    padding-top: 0px;
    color: black;
    display: inline-block;
    font-family: sans-serif ;
    text-decoration: none;
}
article ul{
    font-family: sans-serif;
    font-size: 150%;
    padding-left: 15%;
    width: 30%;
    padding-bottom: 3rem;
}
article table{
    padding-left:15%;
    font-family: sans-serif;
    font-size: 150%;
    text-align: left;
    font-style: thin;
    }
article table a{
    text-align: left;
    float: none;
    width: 100%;
}
article table a:hover{
    border: 0px;
}
p{
    font-family: sans-serif;
}
footer{
    background-color: #eaeaea;
    padding-top: 2rem;
}
footer p{
    padding-left: 0%;
    text-align: center;
    font-family: sans-serif ;
    color: black;
}